<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show all authors</title>
</head>
<body>
<table>
    <th:block th:each="author : ${authors}">
        <tr>
            <td th:text="${'Author id = ' + author.getId}">...</td>
        </tr>
        <tr>
            <td th:text="${'Author name = ' + author.getName}">...</td>
        </tr>
        <tr>
            <td>------------------------------------------------------------</td>
        </tr>
    </th:block>
</table>
<a th:href="@{/}">Return</a>
</body>
</html>
