<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "questionDao" class = "ru.otus.homework.dao.QuestionDaoImpl">
        <constructor-arg name = "csvPath" value = "question.csv"></constructor-arg>
    </bean>

    <bean id = "testRunnerService" class = "ru.otus.homework.service.TestRunnerServiceImpl">
        <constructor-arg name = "questionDao" ref="questionDao"></constructor-arg>
    </bean>

</beans>
